[submodule "vim-buftabline"]
	path = vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/plugs/start/lightline.vim"]
	path = pack/plugs/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
